body {
	background-color:#011826;
	font-family:'Droid Sans', arial, serif;
	text-align:center;
}
h1 {
	color:#0468bf;
	font-size:32px;
	margin:0;
	padding:8px 0 8px;
}
h2 {
	font-size:20px;
	margin:0;
	padding:0;
}
h3 {
	color:8c031c;
	font-size:18px;
	margin:0;
	padding:10px 0 4px;
}
h3 a {
	color:8c031c;
	text-decoration:none;
}
p {
	font-size:14px;
	line-height:18px;
	margin:0;
	padding:4px 10px;
}

#main {
	background-color:#f2f2f2;
	border-radius:20px;
		-moz-border-radius:20px;
		-webkit-border-radius:20px;
	margin:0 auto;
	padding:20px;
	position:relative;
	text-align:left;
	width:500px;
}

.report {
	position:relative;
}

.highlight {
	border:1px solid #d9d9d9;
	border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
	background:#fcfcfc;
	margin:8px 0 0 0;
	padding:0 10px 5px;
}

.fb {
	height:20px;
	padding:10px 0 0 0;
	width:90px;
	position:absolute;
		right:0;
		top:0;
}

.highlight .fb {
	width:90px;
}

#previous {
	background-image:url('../images/left-arrow-full.png');
	border-radius:20px;
		-moz-border-radius:20px;
		-webkit-border-radius:20px;
	height:100px;
	position:absolute;
		top:0;
		left:-120px;
	width:100px;
}
#previous span {
	display:none;
}

#next {
	background-image:url('../images/right-arrow-full.png');
	border-radius:20px;
		-moz-border-radius:20px;
		-webkit-border-radius:20px;
	height:100px;
	position:absolute;
		top:0;
		right:-120px;
	width:100px;
}
#next span {
	display:none;
}

#footer {
	list-style:none;
	margin:0 auto;
	padding:0;
	width:500px;
}
#footer li {
	display:inline;
	padding:4px;
}
#footer li a {
	color:#0468bf;
	font-size:10px;
	text-decoration: none;
}
#ios {
	color:#f2f2f2;
	display:none;
	font-size:16px;
	padding:10px;
}

/*
COLOR SCHEME
white f2f2f2
dark blue 011826
mid blue 034c8c
light blue 0468bf
red 8c031c
*/

